.yeogi-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.yeogi-main.accommodation-detail-content {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin-top: -16px;
  margin-left: -16px;
  margin-right: 0px;
  height: calc(100vh - 144px);
  padding: 16px 0px 92px 16px;
}
.yeogi-main.accommodation-detail-content img {
  width: 100%;
  object-fit: cover; /* 이미지를 컨테이너에 맞게 조절 */
  object-position: center; /* 이미지를 중앙에 위치 */
}
.accommodation-info {
  margin-left: 16px;
  margin-right: 16px;
  top: 200px;
}

.accommodation-info h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #ff385c;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.booking-info {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  margin-left: 16px;
  margin-right: 16px;
  position: relative;
}

.filter-item {
  position: relative;
  flex: 1;
}

.date-selection {
  flex: 3;
}

.guest-selection {
  flex: 1;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px 0px 16px;
}

.book-button,
.like-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  height: 44px; /* 두 버튼의 높이를 동일하게 설정 */
  cursor: pointer;
  width: 120px; /* 버튼의 고정 너비 설정 */
  text-align: center; /* 텍스트 중앙 정렬 */
}

.book-button {
  background-color: #ff385c;
  color: white;
  flex-grow: 1;
  margin-right: 10px;
}

.like-button {
  background-color: white;
  color: #ff385c;
  border: 1px solid #ff385c;
  transition: all 0.3s ease; /* 부드러운 전환 효과 추가 */
  margin-top: 0px;
}

.like-button.liked {
  background-color: #ff385c;
  color: white;
}
