.admin-login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-login-title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.admin-login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box; /* 이 부분을 추가합니다 */
}

.login-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: #dc3545;
  text-align: center;
  margin-bottom: 15px;
}
.register-link-container {
  text-align: right; /* 오른쪽 정렬 */
  margin-top: 15px;
}

.register-link {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.register-link:hover {
  background: none; /* hover 시 배경 없애기 */
}

.register-link p {
  display: inline;
  color: #525252;
  text-decoration: underline;
  margin: 0;
  font-size: 14px;
}

.register-link p:hover {
  color: #0052a3;
}
